<!DOCTYPE html>
<html>
<head>
	<title>Commentaire</title>
</head>
<body>
	<!-- We can add Script commentaire-->

	<form method="post" action="/post2.html">
    le nom du client =<input type="text" value="quel est le nom du client?" name="clientnom">
    la note =<input type="text" value="écrivez votre note" name="clientnote">
    avez-vous une autre note à insérer = <input type="radio" name="autrenote"> oui <input type="radio" name="autrenote"> non
   	Si oui, écrivez votre seconde note=<input type="text" value="votre seconde note" name="client2note">
    <input type="submit" value="post">
  </form>
</body>
</html>
